<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Django Project</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@flowbite/vue-flowbite@2.0.2/dist/flowbite.min.js"></script>
</head>
<body>  
  <div id="app">
    <nav class="bg-gray-800">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
          <div class="flex items-center">
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <a href="{% url 'home' %}">HOME</a>
                <a href="{% url 'about'%}">ABOUT</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div>
      {% block content%}
      {% endblock%}

  </div>
  

  <script>
    new Vue({
      el: '#app',
    });
  </script>
</body>
</html>

